<h3><%= @user.name %></h3>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<p>
  <% if @user.admin %>
    <h5>ADMIN</h5>
  <% else %>
    Mood: <%= @user.mood %><br>
    Tickets: <%= @user.tickets %><br>
    Height: <%= @user.height %><br>
  <% end %>
</p>

<%= link_to 'See attractions', attractions_path %><br>

<%= link_to "Log Out", session_path, method: 'delete'  %>





